* {
    font-family: 思源黑体;
    margin: 0;
}

.bookManagementRegisterTop {
    height: 150px;
    width: 100%;
    position: relative;
    background-image: url(https://tallgao.oss-cn-beijing.aliyuncs.com/7QXvOerPqY.png);
    background-position:center;
    background-repeat: no-repeat;
}

.bookManagementRegisterTopLogo {
    width: 1200px;
    height: 100px;
    position: relative;
}

.bookManagementRegisterTopLogoTop{
    height: 35px;
    width: 100%;
    color: white;
    font-size: 10px;
}

.bookManagementRegisterTopLogoTopInquire{
    width:53px;
    float: right;
    height: 35px;
}

.bookManagementRegisterTopLogoTopMy{
    width: 110px;
    height: 35px;
    float: right;
}

.bookManagementRegisterTopLogoTopInquire,
.bookManagementRegisterTopLogoTopMy {
    background-color: transparent;
    border: 0px;
    color: white;
}


.bookManagementRegisterTopLogoSed{
    height: 45px;
    width: 100%;
}

.bookManagementRegisterTopLogoSedLogo {
    width: 205px;
    height: 44px;
    float: left;
}

.bookManagementRegisterTopLogoSedChang{
    width: 1px;
    height: 38px;
    float: left;
    margin-left: 13px;
    margin-top: 3px;
    margin-right: 13px;
}

.bookManagementRegisterTopLogoSedText{
    width: 111px;
    font-size: 32px;
    color: white;
    height: 45px;
    text-align: center;
    line-height: 42px;
    float: left;
}

.bookManagementRegisterTopLogoThird{
    height: 20px;
    width: 100%;
}

.bookManagementRegisterTopNavigation{
    width: 1200px;
    height: 50px;
    position: relative;
}

.bookManagementRegisterTopNavigationInquire{
    width: 310px;
    height: 50px;
    background-color: #4ed9fb;
    background-image: linear-gradient(to right,#4ed9fb,#1fa4ec);
    float: left;
    line-height: 50px;
    text-align: center;
    color: white;
}

.bookManagementRegisterTopNavigationOther{
    background-color: #e6e6e6;
    height: 50px;
    width: 890px;
    float: left;
}

.bookManagementRegisterTopNavigationOtherContainer{
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #999999;
}

.bookManagementRegisterTopNavigationOtherBtnReaderDropdown{
    display: none;
    position: absolute;
    min-width: 174px;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.bookManagementRegisterTopNavigationOtherBtnBookDropdown{
    display: none;
    position: absolute;
    min-width: 174px;
    background-color: #e6e6e6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.bookManagementRegisterTopNavigationOtherBtnReaderDropdown a {
    color: #3375d5;
    text-decoration: none;
    display: block;
    border-bottom: 3px  #3375d5;
    font-size: 16px;
    padding: 12px 16px;
    z-index: 3;
    position: relative;
    text-align: center;
    line-height: 50px;
    height: 45px;
}


.bookManagementRegisterTopNavigationOtherBtnBookDropdown a {
    color: #3375d5;
    text-decoration: none;
    display: block;
    border-bottom: 3px  #3375d5;
    font-size: 16px;
    padding: 12px 16px;
    z-index: 3;
    position: relative;
    text-align: center;
    line-height: 50px;
    height: 45px;
}


.bookManagementRegisterTopNavigationOtherContainer:hover .bookManagementRegisterTopNavigationOtherBtnReaderDropdown {
    display: block;
}

.bookManagementRegisterTopNavigationOtherBtnReaderDropdown a:hover {
    color: #3375d5;
}


.bookManagementRegisterTopNavigationOtherContainer:hover .bookManagementRegisterTopNavigationOtherBtnBookDropdown {
    display: block;
}

.bookManagementRegisterTopNavigationOtherBtnBookDropdown a:hover {
    color: #3375d5;
}

.bookManagementRegisterTopNavigationOtherContainer:hover .bookManagementRegisterTopNavigationOtherBtn {
    background-color: #4ed9fb;
    background-image: linear-gradient(to right,#4ed9fb,#1fa4ec);
}

.bookManagementRegisterTopNavigationOtherBtn{
    background-color: transparent;
    color: black;
    width: 174px;
    font-size: 16px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    position: relative;
}

.bookManagementRetrievePasswordContainer{
    height: 930px;
    width: 100%;
    background-image: url(https://tallgao.oss-cn-beijing.aliyuncs.com/%E5%8E%9F%E5%88%9B%E5%BB%BA%E7%AD%91%E8%AE%BE%E8%AE%A1-%E8%A4%9A%E6%B3%BD%E5%AE%87-11.18.png);
    background-position:center;
    background-repeat: no-repeat;
}

.Content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.bookManagementRetrievePassword {
    width: 384px;
    height: 480px;
    background-color: #ffffff;
    border: 3px solid #f8c97b;
    border-radius:10px;
    box-shadow:0px 0px 5px 3px #f8c97b;
    color:#ff9f00;
    font-size: 16px;
    position: relative;
    left: 408px;
    top: 150px;
}

.bookManagementRetrievePasswordTitle {
    height:54px;
    width: 100%;
    text-align: left;
    text-indent:14px;
    line-height: 54px;
    box-shadow:0px 10px 10px #ebebe9;
    position: relative;
}

.bookManagementRetrievePasswordContent {
    height: 250px;
    top: 22px;
    left:15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    height: 27px;
    width:250px;
    border:1px #adabad solid;
    color: #d1cfcf;
    border-radius: 5px;
}

.bookManagementRetrievePasswordqq{
    width: 100%;
    position: relative;
}

.bookManagementRetrievePasswordqqInput{
    width: 290px;
    display: inline-block;
}

#email {
    width :173px;
}

#bookManagementRetrievePasswordsendbtn {
    width: 42px;
    height: 27px;
    margin-left: 10px;
    display: inline-block;  
    background-color: #f8c97b; 
    color: white;
    border: 0;
}


#emailverification {
    width: 235px;
}

#bookManagementRetrievePasswordButton {
    top: 56px;
    left: 24px;
    width: 327px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #ffffff;
    background-color: #4dd7fb;
    position: relative;
    border: 0px;
}

#bookManagementRetrievePasswordinformation {
    color:black;
    top:75px;
    left: 100px;
    position: relative;
}